<div class="col-lg-12">
  <div class="row maincontent">
    
    <div class="col-lg-12">
      <div class="maintext col-lg-5">
      <h4>Trasporte executivo</h4>

<p>
Fundada em 21 de Abril de 2013, pelo nosso atual presidente Jonathas da Silva Coelho, a Trans Avante atua no segmento de transportes executivos sob regime de fretamento. Atuando em Macaé e em todo território Brasileiro, com Carros de alto padrão, Vans, Micro ônibus e ônibus .   </p>

<p>A trans Avante é formada por profissionais qualificados e rigorosamente treinados para satisfazer nossos clientes com requinte, pontualidade, educação e segurança.
Nossa missão é modernizar o sistema de transportes brasileiro contribuindo para o crescimento de nossos clientes reduzindo custos, faltas, atrasos valorizando todos os princípios e ética profissional.  </p>
    </div>
      <div class="col-lg-6">  
        <img src="img/executivecar.jpg">
      </div>  
    </div>
    
    <div class="col-lg-12">
      <div class="col-lg-6">  
        <img src="img/privatecar.jpg">
      </div>  
      <div class="maintext col-lg-5">
      <h4>Trasporte privado</h4>

<p>Além do transporte para empresas grandes, especialmente off-shore, a Trans Avante também aluga seus veículos para o público em geral. Oferecemos nosso serviço para esse público com a mesma presteza e eficiência, prezando pelo conforto e segurança de nossos clientes.  </p>
    </div>
      
    </div>
</div>
