<div class="col-lg-12 midia">
  <div class="row maincontent">
    
    <div class="col-lg-12">
      <div class="maintext col-lg-12">
      	<h3>Nossos veículos</h3>

			<div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/car1.jpg" alt="...">
                  	Modelo: Ford Focus S4<br>
                	Ano: 2010<br>
                </a>
                

              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/car3.jpg" alt="...">
                  	Modelo: Ford Focus S4<br>
                	Ano: 2010<br>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/car1.jpg" alt="...">
                  	Modelo: Ford Focus S4<br>
                	Ano: 2010<br>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" src="img/car3.jpg" alt="...">
                  	Modelo: Ford Focus S4<br>
                	Ano: 2010<br>
                </a>
              </div>
            </div>





    </div>
      
    </div>
</div>
